{% extends 'tracer/systemadmin/templates.html' %}
{% block content %}

<style media="screen">
    .none{
      display:none;
    }

    .dataTables_wrapper{
      z-index: 0;
    }
    .dataTables_length{
      z-index: 2;
    }

    .dataTables_filter{
      display: none;
    }

    .dropdown-filter{
      top: 33px !important;
      position: relative;
      z-index: 1;
    }

    .dataTables_length{
      padding-bottom: 10px;
    }
    .th-w-20{
      width:20% !important;
    }
    .th-w-10{
      width:10% !important;
    }
    .btn {
      background-color: none;
      border: #36b9cc;
      color: black;
      padding: 5px 10px;
      font-size: 16px;
      cursor: pointer;
    }

    .btn:hover {
      background-color: #36b9cc;;
    }
  </style>

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- DataTales Example -->
    <a class="btn" href="{% url 'school_report' %}">
      <i class="fas fa-arrow-circle-left"></i>
    </a>
    <br>
    <br>
    <div class="card shadow mb-4">
        <div class="card-header py-3 bg-gradient-info">
          <center>
            <h6 class="m-2 font-weight-bold text-white">{{request.user.school}} Reports</h6>
          </center>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="datatables" class="table table-striped table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th class="th-w-20" style="white-space: nowrap">School Course</th>
                            <th class="th-w-20 text-center" style="white-space: nowrap">Number of Graduates</th>
                            <th class="th-w-20 text-center" style="white-space: nowrap">Number of Employed</th>
                            <th class="th-w-20 text-center" style="white-space: nowrap">Number of Unemployed</th>

                        </tr>
                    </thead>

                    <tbody>
                      <tr>
                          <td class="th-w-20" style="white-space: nowrap">BSIT</td>
                          <td class="th-w-20" style="white-space: nowrap">{{ad.email}}</td>
                          <td class="th-w-20" style="white-space: nowrap">{{ad.school}}</td>
                          <td class="th-w-20" style="white-space: nowrap">{{ad.school}}</td>
                      </tr>
                      <tr>
                          <td class="th-w-20" style="white-space: nowrap">BIT-CT</td>
                          <td class="th-w-20" style="white-space: nowrap">{{ad.email}}</td>
                          <td class="th-w-20" style="white-space: nowrap">{{ad.school}}</td>
                          <td class="th-w-20" style="white-space: nowrap">{{ad.school}}</td>
                      </tr>

                    </tbody>

                </table>

            </div>
        </div>
    </div>
</div>
<script>
  {% for message in messages %}
  Swal.fire({
    position: 'center',
    icon: 'success',
    title: '{{message}}',
    showConfirmButton: false,
    timer: 3000
  })
  {% endfor %}
</script>
<!-- /.container-fluid -->



{% endblock %}
