{%  extends 'tracer/systemadmin/templates.html' %}

{% load static %}
{% load widget_tweaks %}

{% block content %}
  <div class="container-fluid">
    <div class="card shadow-sm mb-4">
      <div class="card-body bg-c-lite-green">
        <form>

          <div class="row">
            <div class="col-lg-10">
              <div class="form-outline mb-4">
                <input type="search" class="form-control " name="query" placeholder="Name / Skills / Date Graduated / Status / Job Description" aria-label="Search">
              </div>
            </div>
            <div class="col-lg-1">
              <button class="btn bg-gradient-info text-white shadow-lg" type="submit" name="button">Search</button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="row">
        
{% endblock %}
