{% extends 'tracer/user/template.html' %}

  {% block content %}
      <div class="container">

        <div class="card shadow mb-4">
            <!-- Card Header - Accordion -->
            <a href="#collapseCardExample" class="d-block card-header py-3" data-toggle="collapse"
                role="button" aria-expanded="true" aria-controls="collapseCardExample">
                <h3 class="m-0 font-weight-bold text-primary">ADMIN ANNOUNCEMENT:</h3>
            </a>
            <!-- Card Content - Collapse -->
            <div class="collapse" id="collapseCardExample">
                <div class="card-body">
                    <strong>Test Announcement</strong>
                </div>
            </div>
        </div>

      </div>
      
  {% endblock %}
