{% extends 'tracer/user/template.html'%}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<style>
  body {
    font-family: Arial, Helvetica, sans-serif;
  }

#myImg{
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  opacity: 0.7;
}
.text-secondary {
    color: #212529!important;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #ffffff;
    border-color: #ffffff;
    animation: none;
}
.btn-primary {
    color: black;
    background-color: #ffffff;
    border-color: #ffffff;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
    color:rgb(88, 86, 86);
    background-color: #ffffff;
    border-color: #ffffff;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
</style>


<div id="profile-upper">
    <div id="profile-banner-image">
      <img src="https://dl.dropbox.com/s/raiecd5lbrkc1uw/239888289_1768773953323405_6641976422482278421_n.jpg?dl=0" alt="Banner image">
    </div>
   
    <div id="profile-d" >    
        <div class="profile-pic-div" >
          <img id="myImg" src="{{user.profile_picture.url}}" alt="Snow" >
        
      </div>
      <div id="u-name">{{user.first_name}} {{user.middle_name}} {{user.last_name}}</div>
      <div class="pg-sub-title">Alumni</div>
      <div class="tb" id="m-btns">
       
        <div class="td">
          <a href="{% url 'UpdateGradInfo' user.id %}" button class="button-24" role="button">Edit Profile</a>
        </div>
        
      </div>
      
    </div>
 
    <div id="black-grd"></div>
  </div>
  <!-- modal for viewing picture -->
 <!-- The Modal -->
<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>
  
  <!-- ends here -->
  <div id="main-content">
    <div class="tb">
      <div class="td" id="l-col">
        <div id= "info" class="l-cnt" style=" 
        border-top-left-radius: 25px;">
          <div class="cnt-label">
            <i class="l-i" id="l-i-i"></i>
            <span>Personal Information</span>
          </div>
       <div  id ="i-box" class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0"><i class="fa fa-envelope" style="font-size:24px; color:#4267b2"></i></h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user.email}}
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0"><i class="fa fa-graduation-cap"  style="font-size:24px; color:#4267b2" ></i></h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     Studied at {{user.school}}
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0"><i class="fa fa-phone" style="font-size:24px;color:#4267b2"></i></h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user.contact_number}}
                    </div>
                  </div>
                  <br>
                  <div class="row" id="btn">
                    <div class="col-sm-3">
                      <h6 class="mb-0">...</i></h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false" aria-controls="multiCollapseExample1" style="margin-left: -13px;">See more info</a>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="collapse multi-collapse" id="multiCollapseExample1">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0"><i class="fa fa-id-card" style="font-size:24px;color:#4267b2"></i></h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      {{user.IDNum}}
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0"><i class="fa fa-child" style="font-size:24px;color:#4267b2" aria-hidden="true"></i></h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     {{user.age}} years old
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0"><i class="fa fa-birthday-cake"style="font-size:24px;color:#4267b2" aria-hidden="true"></i></h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     {{user.birth_date}}
                    </div>
                  </div>
                  <br>

                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0"><i class="fas fa-user-alt" style="font-size:24px;color:#4267b2"></i></h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     {{user.gender}}
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0"><i class="fa fa-home" style="font-size:24px;color:#4267b2"></i></h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     Lives in {{user.address}}
                    </div>
                  </div>
                    <br>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0"><i class='fas fa-book-reader' style='font-size:24px;color:#4267b2'></i></h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     {{user.course_type}}
                    </div>
                  </div>
                    <br>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0"><i class='fa fa-briefcase' style='font-size:24px;color:#4267b2'></i></h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     {{user.employment_status}}
                    </div>
                  </div>
                      <br>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0"><i class="fas fa-user-tie"  style="font-size:24px;color:#4267b2"></i></h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     {{user.job_description}}
                    </div>
                  </div>
                    <br>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0"><i class='fas fa-tools' style='font-size:24px;color:#4267b2'></i></h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                     {{user.skill}}
                    </div>
                  </div>
          </div>
          </div>
          </div>
          </div>
        </div>
        <br>
        <br>
       
        <div class="l-cnt l-mrg">
          <div class="cnt-label">
            <i class="l-i" id="l-i-p"></i>
            <span>Friends</span>
          </div>
          {% for grad_info in grad_infos %}
          {% if grad_info.approved %}
           {% if grad_info.email != request.user.email %}
          <div class="main" >
            <div class="inner" style="font-size: 25px;" >
              
            </div>
        </div>
        
                   {% endif %}
             {% endif %}
           {% endfor %}
        </div>
        <div class="l-cnt l-mrg">
          <div class="cnt-label">
            <i class="l-i" id="l-i-k"></i>
            <span>Did You Know<i id="k-nm">1</i></span>
          </div>
          <div>
            <div class="q-ad-c">
              <a href="#" class="q-ad">
                <img src="https://imagizer.imageshack.com/img923/1849/4TnLy1.png">
                <span>My favorite superhero is...</span>
              </a>
            </div>
           
          </div>
        </div>
        
      </div>
      
      <div class="td" id="m-col"> 
        <div class="card-header">
          <strong>What's new?</strong>
          <button type="button "class="btn btn-light btn-lg btn-block" data-toggle="modal" data-target=".bd-example-modal-lg" style="border-radius: 12px" >
            <h6><em> type something here...</em></h6>
          </button>
        </div>
        <div>
          
         <div
          class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"aria-hidden="true" >
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="row justify-content-center">
                <div class="col-md-10 col-md-5 col-sm-12">
                  <h5><strong>CREATE POST</strong></h5>
                </div>
              </div>
              <div>
                <div class="card w-100 m-auto">
                  <div class="card-header">
                    <form action="{% url 'DisplayGradInfo' %}" method="POST">
                    <!-- <form method="POST" enctype="multipart/form-data"> -->
                      {% csrf_token %} {{ form | crispy }}
                      <div class="d-grid gap-2">
                        <button class="btn btn-success btn-sm btn-block">POST</button><br />
                        <button type="button" class="btn btn-light btn-md" data-toggle="modal" data-target=".bd-example-modal-lg" style="float: right">
                          <strong>Cancel </strong>
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3 w-100 m-auto"></div>
          {% for post in posts %}
          <div class="col-md-12 col-lg-12 col-sm-12 border-bottom position-relative" >
            <div class="shadow p-3 mb-2 mb-0 bg-white rounded">
              <div class="card-header bg-trasparent border-none" style="background-color: #fff" >
                <a class="nav-link" id="{% url 'DisplayGradInfo' %}" href="{% url 'DisplayGradInfo' %}">
                  <img class="img-profile rounded-circle" src="{{request.user.profile_picture.url}}" width=" 40" height="40" alt="User-Profile-Image"/>
                  <span class="mr-2 d-none d-lg-inline text-gray-700 small"><strong>{{user.first_name}} {{user.middle_name}} {{user.last_name}}</strong></span>
                </a>
                <div class="mt-0 text-dark">
                  <font size="">{{ post.created_on }}</font>
                </div>
              </div>
              <div class="card-body" style="background-color: #fff !important; color: black">
                <p>{{ post.body }}</p>
                <div class="position-relative text-brown mt-1">
                  {% if post.image %}
                  <img src="{{ post.image.url }}" class="post-image" />
                  {% endif %}
    
                  <a href="{% url 'post-detail' post.pk %}" class="stretched-link"></a>
                </div>
              </div>
              <div class="card-footer bg-trasparent border-none" style="background-color: fff">
                <div class="d-flex flex-row">
                  <form method="POST" action="{% url 'like' post.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}" />
                    <button
                      style="background-color: lightgray; color: info; border-bottom-color: none; box-shadow: none; " type="submit">
                      <i class="small fas fa-thumbs-up"><span> {{ post.likes.all.count }} </span></i>
                    </button>
                  </form>
                  <form method="POST" action="{% url 'dislike' post.pk %}">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.path }}" />
                    <button style=" background-color: lightgray; color: info; border-bottom-color: none; box-shadow: none;" type="submit">
                      <i class="small fas fa-thumbs-down"><span> {{ post.dislikes.all.count }} </span></i>
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
          </div>
        </div>
        
      </div>

    </div>
  </div>
  <link href="{% static 'css/Display.css' %}" rel="stylesheet">

  <script src="{% static '/js/user/profile.js' %}"></script>
  <script> // Get the modal
    var modal = document.getElementById("myModal");
    
    // Get the image and insert it inside the modal - use its "alt" text as a caption
    var img = document.getElementById("myImg");
    var modalImg = document.getElementById("img01");
    var captionText = document.getElementById("caption");
    img.onclick = function(){
      modal.style.display = "block";
      modalImg.src = this.src;
      captionText.innerHTML = this.alt;
    }
    
    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];
    
    // When the user clicks on <span> (x), close the modal
    span.onclick = function() { 
      modal.style.display = "none";
    }
    </script>
   <script>
   
const btn = document.getElementById('btn');

btn.addEventListener('click', () => {
  //  hide button
  btn.style.display = 'none';

  //  show div
 const box = document.getElementById('box');
  box.style.display = 'block';
});

</script>
    {% endblock %}
