{% extends 'tracer/adminreal/templates.html' %}
{% block content %}
{% load static %}

<style>
  h3 {text-align: center;}
</style>
<h3 class= 'mb-3'>Argao Campus</h3>
<table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class="th-sm">Courses
      </th>
      <th class="th-sm">Total Graduates
      </th>
      <th class="th-sm">Total Employed
      </th>
      <th class="th-sm">Total Unemployed
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Bachelor of Science in Information Technology</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Bachelor in Industrial Technology Major in Computer Technology</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Bachelor in Elementary Education</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Bachelor in Industrial Technology - Drafting Technology</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Bachelor in Industrial Technology - Electrical Technology</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Bachelor in Industrial Technology - Electronics Technology</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Bachelor in Industrial Technology - Automotive Technology</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Bachelor in Industrial Technology - Food Technology</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Bachelor in Industrial Technology - Garments Technology</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Bachelor in Industrial Technology - Machine Shop Technology</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Bachelor in Industrial Technology - Welding and Fabrication Technology</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td> Bachelor in Secondary Education Major in Math</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Bachelor in Secondary Education Major in Science</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Bachelor in Secondary Education Major in English</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Bachelor in Secondary Education Major in Social Studies</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Bachelor of Technology and Livelihood Education</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Bachelor of Technology and Livelihood Education Major in Home Economics</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Bachelor of Technology and Livelihood Education Major in Information and Communications Technology</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Bachelor of Arts in English</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Bachelor of Arts in English Major in Language Studies</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Bachelor of Arts in Literature</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Bachelor of Arts in Literature Major in Literature and Cultural Studies</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>Bachelor of Early Childhood Education</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
      <td>Bachelor in Elementary Education Major in Content Education</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
      <td>Bachelor of Industrial Technology Major in Civil Technology</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
      <td>Bachelor of Industrial Technology Major in Cosmetology</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
      <td>Bachelor of Industrial Technology Major in Furniture and Cabinetmaking Technology</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
      <td>Bachelor of Industrial Technology Major in Interior Design Technology</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
      <td>Bachelor of Industrial Technology Major in Power Plant Technology</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
      <td>Bachelor of Industrial Technology Major in Refrigeration and and Air-Conditioning Technology</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
      <td>Bachelor of Public Administration</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
      <td>Bachelor of Science in AgriBusiness</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
      <td>Bachelor of Science in Agricultural and Biosystems Engineering</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
      <td>Bachelor of Science in Agriculture</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
      <td>Bachelor of Science in Agriculture Major in Horticulture</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
      <td>Bachelor of Science in Agriculture - Animal Production</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
      <td>Bachelor of Science in Business Administration - MM</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
      <td>Bachelor of Science in Civil Engineering</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
      <td>Bachelor of Science in Computer Engineering</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
      <td>Bachelor of Science in Development Communication</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
      <td>Bachelor of Science in Electrical Engineering</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
      <td>Bachelor of Science in Electronic Engineering</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
      <td>Bachelor of Science in Fisheries</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
      <td>Bachelor of Science in Food Technology</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
      <td>Bachelor of Science in Forestry</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
      <td>Bachelor of Science in Graphics and Designs</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
      <td>Bachelor of Science in Hospitality Management</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
      <td>Bachelor of Science in Industrial Engineering</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
      <td>Bachelor of Science in Marine Engineering</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
      <td>Bachelor of Science in Mathematics</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
      <td>Bachelor of Science in Mechanical Engineering</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
      <td>Bachelor of Science in Mechatronics Technology</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
      <td>Bachelor of Science in Nursing</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
      <td>Bachelor of Science in Psychology</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
      <td>Bachelor of Science in Statistics</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
      <td>Bachelor of Science in Technology Management</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
      <td>Bachelor of Science in Tourism Management</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
      <td>Bachelor of Special Needs Education Major in Generalist</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
      <td>Bachelor of Special Needs Education Major in Teaching and Hard of Hearing Learners</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
      <td>Bachelor of Technical and Vocational Teachers Education</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
      <td>Bachelor of Technical Vocational Teacher Education Major in Automotive Technology</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
      <td>Bachelor of Technical Vocational Teacher Education Major in Drafting Technology</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
      <td>Bachelor of Technical Vocational Teacher Education Major in Electrical Technology</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
      <td>Bachelor of Technical Vocational Teacher Education Major in Electronics Technology</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
      <td>Bachelor of Technical Vocational Teacher Education Major in Food Service Management</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
      <td>Bachelor of Technical Vocational Teacher Education Major in Garments Fashion and Design</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
      <td>Bachelor of Technical Vocational Teacher Education Major in Welding and Fabrication Technology</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
      <td>Bachelor of Technology and Livelihood Education Major in Industrial Arts</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
      <td>Batsilyer ng Sining sa Filipino</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
  </tfoot>
</table>

{% endblock %}
