{% extends 'tracer/user/template.html'%}
{% load static %}
{% block content %}

<style media="screen">
  .th-w-20{
    width:20% !important;
  }
  .th-w-10{
    width:10% !important;
  }
</style>


  <div class="text-center pt-3">
    <h3>My Job Experiences</h3>
  </div>

<div class="container mt-4">
  <div class="row">
      <!-- <div class="col-md-8 col-sm-12 col-l-8 col-xl-8">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'HomeJobExperience' %}">Job Experiences</a></li>
              <li class="breadcrumb-item active" aria-current="page">My Job Experiences</li>
            </ol>
          </nav>
        </div> -->

      <div class="align-self-end ml-auto">
        <a href="{% url 'AddJobExperience'%}" class="btn btn-primary">Add Job Experience </a>
      </div>
   </div>
    <div class="container-fluid">
      {% include 'tracer/user/JobExperience/_messages.html' %}
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="datatables" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                          <tr>
                            <th class="th-w-20" style="white-space: nowrap">Company Name</th>
                            <th class="th-w-20" style="white-space: nowrap">Address</th>
                            <th class="th-w-20" style="white-space: nowrap">Position</th>
                            <th class="th-w-20" style="white-space: nowrap">Description</th>
                            <th class="th-w-20" style="white-space: nowrap">Date Started</th>
                            <th class="th-w-20" style="white-space: nowrap">Date Leaved</th>
                            <th>Action</th>
                          </tr>
                        </thead>

                        <tbody>
                          {% for JobExperiences in JobExperience %}

                          <tr>
                            <td style="white-space: nowrap">{{JobExperiences.company_name}}</td>
                            <td style="white-space: nowrap">{{JobExperiences.address}}</td>
                            <td style="white-space: nowrap">{{JobExperiences.position}}</td>
                            <td style="white-space: nowrap">{{JobExperiences.description}}</td>
                            <td style="white-space: nowrap">{{JobExperiences.experienceStartDate}}</td>
                            <td style="white-space: nowrap">{{JobExperiences.experienceEndDate}}</td>
                            <td><a href ="{% url 'edit_experience' JobExperiences.id %}" title="Edit" class='fa fa-edit btn btn-success btn-sm'></a></td>
                          </tr>

                          {% endfor %}

                        </tbody>

                    </table>

                </div>
            </div>
        </div>
    </div>

  <!-- /.container-fluid -->



{% endblock %}
